<%- include('partials/admin_header.ejs') -%>
<div class="editcontent">
<div class="editcontentinner">
    <form action="/admin/add-user/<%-employeeeditdata[0].emp_id%>" method="post">
  
    <table>
        <div class="edittablecontainer">
         <tr class="editviewtr">
              <td class="editviewtd">EMPLOYEE ID</td>
              <td class="editviewtd"><input type="text" class="editpagebtn readonly" name="emp_id" value=<%-employeeeditdata[0].emp_id%> readonly ></input></td>
         </tr>  
         <tr class="editviewtr">
            <td class="editviewtd">EMPLOYEE NAME</td>
            <td class="editviewtd"><input type="text" class="editpagebtn" name="emp_name" value=<%-employeeeditdata[0].emp_name%>></input></td>
       </tr>
       <tr class="editviewtr">
        <td class="editviewtd">EMPLOYEE EMAIL ID</td>
        <td class="editviewtd"><input type="text" class="editpagebtn" name="emp_email" value=<%-employeeeditdata[0].emp_email%>></input></td>
   </tr>
   <tr class="editviewtr">
    <td class="editviewtd">EMPLOYEE PRIMARY MOBILE NUMBER</td>
    <td class="editviewtd"><input type="text" class="editpagebtn" name="phone_no_1" value=<%-employeeeditdata[0].phone_no_1%>></input></td>
</tr>
<tr class="editviewtr">
    <td class="editviewtd">EMPLOYEE SECONDARY MOBILE NUMBER</td>
    <td class="editviewtd"><input type="text" class="editpagebtn" name="phone_no_2" value=<%-employeeeditdata[0].phone_no_2%>></input></td>
</tr>
<tr class="editviewtr">
    <td class="editviewtd">EMPLOYEE ROLE</td>
    <td class="editviewtd"><input type="text" class="editpagebtn readonly" name="role_name" value=<%-employeeeditdata[0].role_name%> readonly ></input></td>
</tr>
<tr class="editviewtr">
    <td class="editviewtd">REPORTING MANAGER</td>
    <td class="editviewtd"><input type="text" class="editpagebtn" name="reporting_manager_name" value=<%-employeeeditdata[0].reporting_manager_name?employeeeditdata[0].reporting_manager_name:"null"%>></input></td>
</tr>
<tr class="editviewtr">
    <td class="editviewtd">STATUS</td>
    <td class="editviewtd">
        <select name="emp_status" id="emp_status">
            <option selected="selected" ><%-employeeeditdata[0].emp_status%></option>
            <option >Deactivate</option>

        <!-- <input type="text" class="editpagebtn" placeholder="Name" name="emp_id" value=<%-employeeeditdata[0].emp_status%>></input> -->
    
    </td>
</tr>
</div>

    </table>
    <button   type="submit">MODDIFY DATA</button>
    </form>
</div>
</div>

<%- include('partials/footer') -%>
